.nav{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 50px;
    min-width: 100%;
    z-index: 1000;
    display: flex;
    background-color: var(--nav-bar-bg);
    align-items: center;
    padding: 5px;
    backdrop-filter: blur(20px);
    border-bottom: 1px solid var(--button-color);
}

.nav .kick_link{
    margin-left: auto;
    margin-right: 50px;
    filter: invert();
}

.nav .gte_logo{
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.nav #logo_img{
    margin: 0 10px;
    border-radius: 10px;
}

.nav #logo_img:hover{
    transition: .5s;
    transform: rotate(360deg);
}

#beta_txt{
    color: var(--button-color);
    font-size: 20px;
    margin-inline-start: 20px;
}

#vers_txt{
    color: silver;
    font-size: 20px;
    margin-inline-start:2px;
}

@media screen and (max-width: 768px) {
    .nav {
      
        padding: 0;
        visibility: hidden;
        
    }

    .nav .kick_link {
        margin: 10px 0;
        
    }

    .nav .gte_logo {
        font-size: 1.2rem;
    }

    #beta_txt, #vers_txt {
        font-size: 16px;
        margin-inline-start: 10px;
    }

    .nav #logo_img {
        margin: 0 5px;
    }
}